




* {
    font-family: 'Rubik', sans-serif;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
}

li{
}

body {
    margin: 0px;
}


button {
    height: 30px;
    width: 30px;
    outline: none;
    background-color: yellowgreen;
}


.items {
    width: 300px;
    background: #fffffe;
    border-top: 10px solid #0b5aa2;
}
.items-head p {
    padding: 5px 20px;
    margin: 10px;
    color: #0b5aa2;
    font-weight: bold;
    font-size: 20px;
}
.items-head hr {
    margin: 0px 10px;
    border: 1px solid #0b5aa2;
}
.items-body {
    display: grid;
    grid-gap: 10px;
}
.items-body-content {
    padding: 10px;
    grid-template-columns: 10fr 1fr;
    font-size: 13px;
    border: 1px solid transparent;
    cursor: pointer;
}

.items-body-content i {
    align-self: center;
    font-size: 15px;
    color: #0b5aa2;
    font-weight: bold;
    animation: icon 1.5s infinite forwards;
}



