<div>
  <button (click)="addUrlButtonPressed()">Add this URL</button>
  <button (click)="deleteAllButtonPressed()">Delete all</button>
  <div *ngIf="dataReady === false; else readyToShow">
    <p>Loading</p>
  </div>
  <ng-template #readyToShow>


    <mat-nav-list class="urlList">
      <a mat-list-item class="urlListItem" *ngFor="let url of activeUrls(); let i = index" (click)="listItemPressed(i)">
        <img matCardImage class="urlFavicon" [src]="url.fav">
        <p class="urlTitle">{{url.title}}</p>
        <button class="urlActionButton" (click)="urlActionButtonPressed(i, $event)"></button>
      </a>
    </mat-nav-list>
  </ng-template>
</div>




