<div id="demo">
  <button (click)="addUrlButtonPressed()">Add this URL</button>
  <button (click)="deleteAllButtonPressed()">Delete all</button>
  <div *ngIf="dataReady === false; else readyToShow">
    <p>Loading</p>
  </div>
  <ng-template #readyToShow>


    <mat-nav-list class="urlList">
      <mat-list-item class="urlListItem" *ngFor="let url of urls; let i = index" (click)="openUrl(i)">
        <!--        <div class="urlPlaceHolder" mat-row *ngIf="url.finished === false">-->
<!--        <button matLine (click)="openUrl(i)"></button>-->
        <img matCardImage class="urlFavicon" [src]="url.fav">
        <p class="urlTitle">{{url.title}}</p>
        <button (click)="urlActionButtonPressed(i)"></button>
        <!--        </div>-->
      </mat-list-item>
    </mat-nav-list>

<!--    <mat-nav-list class="urlList">-->
<!--      <button mat-list-item class="urlListItem" *ngFor="let url of urls; let i = index" (click)="openUrl(i)">-->
<!--&lt;!&ndash;        <div class="urlPlaceHolder" mat-row *ngIf="url.finished === false">&ndash;&gt;-->
<!--          <img matCardImage class="urlFavicon" [src]="url.fav">-->
<!--          <p class="urlTitle">{{url.title}}</p>-->
<!--          <button (click)="urlActionButtonPressed(i)"></button>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </button>-->
<!--    </mat-nav-list>-->







  </ng-template>
</div>




